:root {
    --Width: 390px;
    --Height: 2001px;

    /* color */
    --Bright-Yellow: #FFE535;
    --White: #FFF;

    /* font */
    --Primary-Font: "Chivo", sans-serif;
}

body {
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
}

#container {
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
    background-color: #FFFFFF;
}

.promotional-banner {
    width: var(--Width, 390px);
    height: 16px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--Bright-Yellow, #FFE535);
}

.truck {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.promotional-banner-title {
    color: #000;
    text-align: center;
    font-family: var(--Primary-Font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
}

header {
    width: var(--Width);
    display: flex;
    padding: 16px;
    align-items: center;
    gap: 62px;
}

.logo {
    width: 185.985px;
    height: 20px;
    flex-shrink: 0;
}

.shopping-bag {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    z-index: 1;
}

.shopping-bag > .count-container {
    display: flex;
    width: 12px;
    height: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Bright-Yellow, #FFE535);
    z-index: 2;
}

.shopping-bag {
    top: 71px;
    left: 350px;
    position: absolute;
}

.count-container {
    top: 0;
    left: 13px;
    position: absolute;
}

.shopping-bag > .count-container > .count {
    color: #0D2B09;
    text-align: center;
    /* leading-trim: both; */
    /* text-edge: cap; */
    font-family: var(--Primary-Font);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 0; /* 0% */
}

.menu {
    display: inline-flex;
    padding: 12.447px 0 0 22.632px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 11.289px;
}

.menu > li {
    list-style-type: none;
}

.menu > li > .menu-item {
    color: rgba(29, 33, 30, 0.50);
    font-family: var(--Primary-Font);
    font-size: 13.579px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.974px; /* 125% */
    text-transform: uppercase;
}

main {
    width: var(--Width);
}

.image-container {
    width: var(--Width);
    height: 390px;
}

.image-container > img {
    width: 338px;
    height: 363px;
    flex-shrink: 0;
}

.search-icon {
    position: absolute;
    top: 490px;
    left: 332px;
}

.search-icon {
    width: 32px;
    height: 32px;
    padding: 10px 0 0 7px;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #E2E2E2;
    border-radius: 30px;
}

.search-icon > img {
    width: 26.147px;
    height: 26.147px;
    flex-shrink: 0;
}

.carousel {
    scroll-snap-type: x mandatory;
    margin: 0 auto;
    padding: 30px 0;
    max-width: 800px;
    white-space: nowrap;
    overflow-x: scroll;
}

.carousel-item {
    scroll-snap-align: center;
    display: inline-block;
    margin: 0 20px;
    width: 40%;
    white-space: normal;
    overflow: hidden;
}