:root {
    --Width: 390px;
    --Height: 2001px;

    /* color */
    --Bright-Yellow: #FFE535;
    --Vivid-Yellow: #FFE535;
    --Light-Yellow: #FFFBE6;
    --White: #FFF;
    --Black: #1D211E;

    /* font */
    --Primary-Font: "Chivo", sans-serif;

    /* margin */
    --Horizontal-Margin: 16px;
    --Vertical-Margin: 24px;
}

body {
    margin: 0;
    padding: 0;
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
}

#container {
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
    background-color: #FFFFFF;
    /* border: 1px solid blue; */
}

.promotional-banner {
    height: 16px;
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--Bright-Yellow, #FFE535);
}

.truck {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.promotional-banner-title {
    color: #000;
    text-align: center;
    font-family: var(--Primary-Font);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
}

header {
    display: flex;
    padding: 16px 0 16px 16px;
    align-items: center;
    gap: 62px;
}

.logo {
    width: 185.985px;
    height: 20px;
    flex-shrink: 0;
}

.shopping-bag {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    z-index: 1;
}

.shopping-bag > .count-container {
    display: flex;
    width: 12px;
    height: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Bright-Yellow, #FFE535);
    z-index: 2;
}

.shopping-bag {
    left: 350px;
    position: absolute;
}

.count-container {
    top: -3px;
    left: 13px;
    position: absolute;
}

.shopping-bag > .count-container > .count {
    color: #0D2B09;
    text-align: center;
    /* leading-trim: both; */
    /* text-edge: cap; */
    font-family: var(--Primary-Font);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 0; /* 0% */
}

.menu {
    width: var(--Width);
    margin: 0;
    display: flex;
    padding: 12.447px 22.632px 0;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 11.289px; */
    background: var(--Light-Yellow, #FFFBE6);
    border-bottom: 2.26px solid var(--Light-Yellow);
}

.menu > li {
    list-style-type: none;
    padding-bottom: 12.447px;
}

.menu > li > .menu-item {
    margin-right: 22.63px;
    padding-bottom: 12.447px;
    color: rgba(29, 33, 30, 0.50);
    font-family: var(--Primary-Font);
    font-size: 13.579px;
    font-style: normal;
    font-weight: 900;
    line-height: 16.974px; /* 125% */
    text-transform: uppercase;
    text-decoration: none;
}

/* make the underlined state more specific so it overrides the
   earlier .menu > li > .menu-item color rule (specificity issue) */
.menu > li > .menu-item.underlined {
    color: var(--Black);
    border-bottom: 2.26px solid var(--Black);
}

main {
    width: var(--Width);
}

.product-image {
    margin: 0;
    padding: 0;
    width: var(--Width);
    height: var(--Width);
}

.product-image > img {
    /* width: 338px; */
    /* height: 363px; */
    /* width: 100%; */
    /* height: 100%; */
    object-fit: cover;
}

.search-icon {
    position: absolute;
    top: 490px;
    left: 332px;
}

.search-icon {
    width: 32px;
    height: 32px;
    padding: 10px 0 0 7px;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #E2E2E2;
    border-radius: 30px;
}

.search-icon > img {
    width: 26.147px;
    height: 26.147px;
    flex-shrink: 0;
}

/* .slideshow {
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    overflow-x: scroll;
}

.slideshow > .slide {
    scroll-snap-align: center;
    display: inline-block;
    white-space: normal;
    overflow: hidden;
} */

.slideshow {
    margin: 8px;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    overflow: hidden;
}

.slideshow > .slide {
    width: 75px;
    height: 75px;
    border-radius: 4px;
    border: 1px solid #1D211E;
    /* border-top: 1px solid #1D211E;
    border-right: 1px solid #1D211E;
    border-bottom: 4px solid #1D211E;
    border-left: 1px solid #1D211E; */
    /* background: url(<path-to-image>) lightgray 50% / cover no-repeat, url(<path-to-image>) lightgray 2.954px -0.126px / 92.122% 93.339% no-repeat, #FFF8CC; */
}

.slide-image {
    margin: 0;
    padding: 0;
}

.slide-image > img {
    max-width: 75px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.rating-info {
    margin: 0;
    width: 336px;
    height: 15px;
    padding-left: 16px;
    /* padding: 12px 16px 0; */
    display: flex;
    align-items: flex-start;
    gap: 4px;
}

.rating-icon {
    width: 85px;
    height: 14.2px;
    flex-shrink: 0;
}

.rating-desc {
    /* width: 257px; */
    height: 15px;
    flex-shrink: 0;

    color: #5B5B5B;
    text-align: center;
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 107.143% */
}

.rating-desc > strong{
    color: #5B5B5B;
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px;
    /* text-decoration-line: underline; */
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.product-content-title {
    width: 358px;
    height: 80px;
    margin: 7px 16px;

    color: var(--Black, #1D211E);
    font-family: "Passion One";
    font-size: 42px;
    font-style: bold;
    font-weight: 700;
    line-height: 40px; /* 95.238% */
}

.product-price-info {
    margin: 4px 124px 24px 16px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.product-price-info > .original-price {
    color: var(--Grey, #959595);
    font-family: Chivo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: line-through;
}

.product-price-info > .current-price {
    color: var(--Black, #1D211E);
    font-family: Chivo;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.product-price-info > .discount-info {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 4px;
    background: var(--Vivid-Yellow, #FFE535);

    color: var(--Black, #242328);
    text-align: center;
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-content-desc {
    margin: 0 16px;
    display: flex;
    width: 358px;
    padding: 24px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
}

.product-content-desc > span {
    margin-bottom: 8px;

    color: var(--Black, #1D211E);
    font-family: Chivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 93.75% */
}

.product-content-desc > ul {
    margin: 0;
    padding-left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.product-content-desc > ul > li {
    list-style: none;
    background-image: url(../icons/Check.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 15px 15px;

    text-align: left;
    color: var(--Black, #1D211E);
    font-family: Chivo;
    font-size: 16px;
    font-style: light;
    font-weight: 200;
    line-height: 15px; 
}

.product-content-desc > ul > li > span {
    padding-left: 24px;
}

.frequency {
    margin: var(--Vertical-Margin) var(--Horizontal-Margin) 0;

    width: 357px;
    height: 163px;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.title {
    width: 357px;
    height: 16px;

    color: var(--Black);
    font-family: Chivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 93.75% */
}

.subscription {
    float: right;
}

.subscription > span {
    color: #7D7D7D;
    font-family: Chivo;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

    vertical-align: top;
}

.frequency-option {
    margin: 0 16px 0 0;
    display: flex;
    width: 323px;
    padding: 14px 16px;
    justify-content: space-between;
    align-items: center;
}

.frequency-option .label-group {
    display: flex;
    align-items: center;
    gap: 8px; /* spacing between icon and text */
}

.label-group > span {
    color: var(--Black);
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 107.143% */
    text-transform: uppercase;
}

.frequency-option i img {
    width: 16px;
    height: 16px;
}

.current-price {
    font-weight: 700;
    font-size: 16px;
    color: var(--Black);
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.frequency-option > .label-group > .discount-info {
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: 4px;
    background: var(--Vivid-Yellow, #FFE535);
}

.frequency-option > .label-group > .discount-info {
    width: 57px;
    height: 14px;

    color: var(--Black, #242328);
    text-align: center;
    font-family: Chivo;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.frequency-option > .price-group {
    display: flex;
    align-items: flex-end; /* right align */
    gap: 2px;
}

.frequency-option .original-price { 
    padding: 0 4px 1.5px 0;

    color: var(--Grey, #959595);
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: line-through;
}

.frequency-option .current-price {
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.frequency > .selected {
    border-radius: 4px;
    border-top: 1px solid #F1C40F;
    border-right: 1px solid #F1C40F;
    border-bottom: 4px solid #F1C40F;
    border-left: 1px solid #F1C40F;
}

.frequency > .default {
    border-radius: 4px;
    border: 1px solid #ADADAD;
}

.bundle-save {
    margin: 0 var(--Horizontal-Margin) 15px;
    /* width: 350px; */
    /* height: 125px; */

}

.bundle-save > .options {
    margin-top: 25px;
    /* width: 350px; */
    height: 138px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.options > .option,
.option.special {
    width: 108px;
    height: 117px; /* same height for all */
    position: relative; /* allows label to float inside */
    border-radius: 8px;
}

.option.selected {
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0 4px 0 0 #000;
}

.option.special {
    /* display: flex; */
    border: 1px solid #DEDEDE;
    border-radius: 0 0 8px 8px;
}

.option.special > .label {
    position: absolute;
    top: -21.5px;            /* moves above the box */
    left: -1px;
    width: 109.5px;
    height: 21px;

    /* align text vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding: 4px 6px; */
    background: #FEDB36;
    border-radius: 8px 8px 0 0;
    font-weight: 700;
    font-size: 10px;
}

.option > .option-desc {
    width: 70px;
    height: 15px;
    color: var(--Black);
    text-align: center;
    font-family: Chivo;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 150% */
    letter-spacing: -0.2px;
}

.option > .option-desc {
    margin: 10px 19px;
}

.option.special > .option-desc {
    margin: 4px 19px;
}

.option > .price-group {
    height: 12px;

    margin: 3.5px 2.5px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.option .original-price { 
    margin: 0 1px;
    color: rgba(4, 35, 36, 0.50);
    text-align: center;
    font-family: Chivo;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px; /* 100% */
    text-decoration-line: line-through;
}

.option .current-price {
    margin: 0 1px;
    color: #1D211E;
    text-align: center;
    font-family: Chivo;
    font-size: 12px;
    font-style: normal;
    font-weight: 900;
    line-height: 12px; /* 100% */
}

.one-item {  
    transform-origin: center center;
    transform: scale(1.25);
    display: block;
    width: auto;
    height: 74px;
}

.one-item img {
    width: 100%;
    height: 100%;
}

.two-item {
    position: relative;
    width: 97px;
    height: 74px;
    transform-origin: center center;
    transform: scale(1.25);
}

.two-item .layer1,
.two-item .layer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.two-item .layer1 {
    z-index: 1;
    transform: translate(-10px, 0);
}

.two-item .layer2 {
    z-index: 2;
    transform: translate(18px, 0);
}

.two-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keep the image filling the box while preserving ratio */
    border-radius: 4px;
}

.three-item {
    position: relative;
    width: 97px;
    height: 74px;
    transform-origin: center center;
    transform: scale(1.1);
}

.three-item .layer1,
.three-item .layer2,
.three-item .layer3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.three-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.three-item .layer1 {
    z-index: 1;
    transform: translate(-17px, 0);
}

.three-item .layer2 {
    z-index: 2;
    transform: translate(24px, 0);
}

.three-item .layer3 {
    z-index: 3;
    transform: translate(1px, 7px);
}

.order-button {
    margin: 0 var(--Horizontal-Margin);
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 8px;
    background: #F5F5F5;
}

.order-button > span {
    color: #1D211E;
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.14px;
}

.order-button > span > strong {
    font-weight: 600;
}

.add-to-cart {
    display: flex;
    /* width: 350px; */
    margin: 12px var(--Horizontal-Margin);
    padding: 14px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: var(--Yellow, #FEDB36);
}

.add-to-cart > span {
    color: #0D2B09;
    text-align: center;
    font-family: Chivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
}

.shipping-returns {
    margin: 0 var(--Horizontal-Margin);
    display: flex;
    /* width: 350px; */
    justify-content: space-between;
    align-items: center;
}

.shipping-returns > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.shipping-returns > div > span {
    color: rgba(29, 33, 30, 0.60);
    font-family: Chivo;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.15px;
}

.shipping-returns > div > span > strong {
    color: var(--Black);
}

.payments {
    margin: 15px var(--Horizontal-Margin);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payments > .icon {
    fill: var(--Base-White, #FFF);
    stroke-width: 1px;
    stroke: var(--Gray-100, #F2F4F7);
}

.video-list {
    margin: var(--Vertical-Margin) var(--Horizontal-Margin);
    display: flex;
    gap: 7px;
}

.video1,
.video2,
.video3 {
    position: relative;
    width: 114px;
    height: 202.518px;
    flex-shrink: 0;
    border-radius: 4px;
    border-bottom: 4px solid var(--Yellow, #F1C40F);
    background-position: 50% 50%;
    background-size: cover;
}

.video1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/video1.jpg") 50%/cover no-repeat, #D9D9D9;
}

.video2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/video2.jpg") 50%/cover no-repeat, #D9D9D9;
}

.video3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url("../images/video3.jpg") 50%/cover no-repeat, #D9D9D9;
}

.playicon {
    display: inline-block;
    width: 40px;
    height: 40px;
    
}

.playicon > .ellipse {
    position: absolute;
    z-index: 2;
    padding: 81px 0 0 37px;
}

.playicon > .triangle {
    position: absolute;
    z-index: 1;
    margin: 81px 0 0 37px ;
    padding: 8px;
}

.video-length {
    position: absolute;
    bottom: 6px;
    right: 6px;

    color: #FFF;
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: 400;
}

/* Overlay filter layer */
.filter {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.50) 0%,
            rgba(0, 0, 0, 0.50) 100%
        ),
        lightgray 50% / cover no-repeat,
        #D9D9D9;

    pointer-events: none;
}

.video-name {
    width: 105px;
    position: absolute;
    bottom: -30px;
    right: 5.5px;
    max-height: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    color: var(--Black, #242328);
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.other-info {
    /* display: flex; */
    /* width: 357px; */
    margin: 49px var(--Horizontal-Margin) var(--Vertical-Margin);
    /* padding: 12px 16px; */
    justify-content: space-between;
    align-items: center;
}

.info-button {
    display: flex;
    /* width: 357px; */
    /* margin: 0 var(--Horizontal-Margin); */
    margin-bottom: 8px;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border-top: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom: 4px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
}

.info-label > .icon img {
    transform: translateY(3px);
}

.info-button > .info-label > span {
    color: #1D211E;
    font-family: Chivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}