:root {
    --Width: 390px;
    --Height: 2001px;
    --Bright-Yellow: #FFE535;
}

body {
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
}

#container {
    width: var(--Width, 390px);
    height: var(--Height, 2001px);
    background-color: #FFFFFF;
}

.promotional-banner {
    width: var(--Width, 390px);
    height: 200px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: var(--Bright-Yellow, #FFE535);
}

.truck {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}

.promotional-banner-title {
    color: #000;
    text-align: center;
    font-family: Chivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 14px */
    letter-spacing: 0.28px;
}